<!DOCTYPE html>
<html lang="en">

<head>
    <title>Index of {{path}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-square-o.min.css">
    <link rel="stylesheet" href="https://koruri.chillout.chat/koruri.css">
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/tablesort.min.js" integrity="sha256-p3wukcf2d2jxbVnlqPDO9t4AAjnl42D2aIzrK4S0X6w=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.number.min.js" integrity="sha256-ra1pWQ7MfuVIolZ/phcEXegs9m1ehXaCNI8cmc3gJEs=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.1.0/sorts/tablesort.filesize.min.js" integrity="sha256-qNYlSpvv2lsmkcarYkQBkUzVcHKaml/BHcGxcSNsyrU=" crossorigin="anonymous"></script>
    <script src="/table.js"></script>
    <script src="/search.js"></script>
</head>

<body>
    <div class="ui container">
        <h3 class="ui header shift-left breadcrumb">Index of {{path}}</h3>
        {{#if can_search}}
        <div class="ui search">
            <input class="prompt" type="text" placeholder="Search files...">
            <div class="results"></div>
        </div>
        {{/if}}
        <table class="file-listing">
            <thead>
                <tr>
                    {{#if can_search}}<th class="collapsing info fitwidth" data-sort-method="none" role="columnheader"></th>{{/if}}
                    <th class="collapsing fitwidth" data-sort-method="none" role="columnheader"></th>
                    <th class="collapsing" role="columnheader">Name</th>
                    <th class="collapsing date-modified fitwidth" data-sort-method="number" role="columnheader">Last Modified</th>
                    <th class="collapsing fitwidth" data-sort-method="filesize" role="columnheader">Size</th>
                </tr>
            </thead>
            <tbody>
                <tr data-sort-method="none">
                    {{#if can_search}}<td class="info"></td>{{/if}}
                    <td></td>
                    <td><a href="..">Parent Directory</a></td>
                </tr>
                {{#each files}}
                <tr>
                    {{#if can_search}}
                    <td data-sort-method="none" class="info">
                        {{#if is_file}}
                        <i class="info circle icon"></i>
                        {{/if}}
                    </td>
                    {{/if}}
                    <td>
                        <span class="fiv-sqo fiv-icon-{{ext}}"></span>
                    </td>
                    <td class="filename" data-sort="{{is_file}}_{{name}}">
                        <a class="overflow" href="{{url_name name}}">{{name}}</a>
                    </td>
                    <td class="fitwidth date-modified" data-sort="{{mod_raw}}">{{mod}}</td>
                    <td class="fitwidth file-size">{{size}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- added for hash popup -->
    <div class="ui basic modal">
        <div class="ui icon header"><i class="hashtag icon"></i>File Details</div>
        <h4></h4>
        <div class="content">
            <div>
                <div class="ui fluid labeled input">
                    <div class="ui label">MD5</div><input type="text" readonly="">
                </div>
            </div>
            <div>
                <div class="ui fluid labeled input">
                    <div class="ui label">SHA1</div><input type="text" readonly="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>